{% set csp_nonce = config_get('extra.csp_nonce') %}

<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>{% block title %}Welcome!{% endblock %}</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
		<link rel="stylesheet" href="{{ asset("css/theme-modules.css") }}">
		<link rel="stylesheet" href="{{ asset("css/style.css") }}">
		{% block stylesheets %}{% endblock %}
	</head>
	<body>
		{% block body %}
			<nav class="navbar navbar-expand-lg navbar-light">
				{% block nav %}
					<div class="container">
						<a class="navbar-brand" href="/">
							<img class="etcodes-normal-logo" src="{{ asset("logo.jpg") }}" width="84" height="22" alt="Logo">
							<img class="etcodes-mobile-logo" src="{{ asset("logo.jpg") }}" width="84" height="22" alt="Logo">
						</a>
						<button class="navbar-toggler hamburger-menu-btn" type="button" data-toggle="collapse" data-target="#navbarNavDropdown">
							<span>toggle menu</span>
						</button>
						<div class="collapse navbar-collapse" id="navbarNavDropdown">
							<ul class="navbar-nav ml-auto">
								{% if auth_user() %}
									<li class="nav-item">
										<a href="{{ url("register") }}" class="nav-link">
											Regiser
										</a>
									</li>
									<li class="nav-item">
										<a href="{{ url("login") }}" class="nav-link">
											Login
										</a>
									</li>
								{% else %}
									<li class="nav-item">
										<a href="{{ url("product_edit") }}" class="nav-link">
											Add
										</a>
									</li>
									<li class="nav-item capitalized">
										<i class="nav-link">
											{{ app.user.public }}
										</i>
									</li>
								{% endif %}
							</ul>
						</div>
					</div>
				{% endblock %}
			</nav>
			<div class="container mb-65px">
				{% block content %}
				{% endblock %}
			</div>
			<footer class="web-footer footer bg-color-blackflame all-text-content-white">
				{% block footer %}
					<footer class="web-footer footer footer-top-border bg-color-dark all-text-content-white">
						<div class="footer-widgets pt-5 pb-5">
							<div class="container">
								<div class="row align-items-center">
									<div class="col-md-4">
										<img src="https://www.energeticthemes.com/templates/umda/images/logo-light.png" alt="logo">
									</div>
									<div class="col-md-4 text-center">
										© 2018 Energetic Themes.
									</div>
									<div class="col-md-4">
										<ul class="list-inline m-0 text-center text-md-right">
											<li class="list-inline-item">
												Some Text Here
											</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</footer>
				{% endblock %}
			</footer>
		{% endblock %}

		<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" nonce="{{ csp_nonce }}" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" nonce="{{ csp_nonce }}" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
		<script type="text/javascript" nonce="{{ csp_nonce }}" src="{{ asset("js/main.js") }}"></script>
		<script type="text/javascript" nonce="{{ csp_nonce }}" src="{{ asset("js/some.js") }}"></script>
		{% block javascripts %}{% endblock %}
	</body>
</html>
